.data-hora {
    text-align: center;
    background-color: rgb(0, 255, 191);
    border-radius: 10px;

}
#btn-dialog-fechar{
position:absolute;  /*fixo em relação ao elemento Pai */
                        /* posiciona um elemento q ´efixo no VIEWPOR ( posicional com coordenadas) */
}